Source: ros-jade-ecto-pcl
Section: misc
Priority: extra
Maintainer: Vincent Rabaud <vincent.rabaud@gmail.com>
Build-Depends: debhelper (>= 9.0.0), libboost-all-dev, python-nose, ros-jade-catkin, ros-jade-ecto, ros-jade-ecto-ros, ros-jade-pcl-conversions, ros-jade-rosunit, ros-jade-sensor-msgs
Homepage: http://plasmodic.github.io/ecto_pcl
Standards-Version: 3.9.2

Package: ros-jade-ecto-pcl
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libboost-all-dev, ros-jade-ecto, ros-jade-ecto-ros, ros-jade-pcl-conversions, ros-jade-sensor-msgs
Description: Ecto bindings for common PCL functionality.
